* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.calc-options,
.calc-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.calc-content,
.operations {
  display: flex;
  flex-direction: column;
}
.numbers {
  font-size: larger;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.number {
  margin-bottom: 5px;
}
